{% extends "base.html.twig" %}
{% block body %}

	<style>
		h2 {
			font-size: 2rem;
			text-align: center;
			margin: 20px 0;
			text-transform: uppercase;
		}

		li, p {
			font-size: 1.5rem;
			list-style: none;
			margin: 10px;
		}

        p {
            margin-left: 20px; 
        }
	</style>

	<h2>
		Conditions générale d'utilisation:
	</h2>
	<p>
		Soft Etincelle entreprise individuelle, immatriculée sous le numéro 90376485000017, située 22 rue de Ladoucette Metz 57000.
		<br>
		Sofia Abderrahman, éditrice et exploitante du site Soft Etincelle, a établie les présentes conditions générales de vente et d'utilisations, régissant l'accés et l'utilisation du Site. Elles fixent également les conditions et les modalités selon lesquelles l'Exploitant accepte de fournir les services présentés sur le site. Les services proposés sur le site sont reservés aux professionels.
	</p>

	<ul>
		<li>
			<h3>
				ARTICLE 1.ACCEPTATION DES CGU
			</h3>
			<ul>
				<li>Avant toute utilisation du site ou achat de services sur le site, vousreconnaissez avoir pris connaissance des présentes CGU et vous les acceptez sans restriction ni réserve.</li>
				<li>

					Vous déclarez etre juridiquement capable de contracter.
				</li>

				<li>
					Les présentes CGU s'appliquent également à toute déclinaison ou extension du site sur les réseaux sociaux ou communautaires, ou application, existants ou à venir.

				</li>
			</ul>
		</li>

		<li>
			<h3>
				ARTICLE2.ACCES AU SITE
			</h3>
			<ul>
				<li>
					Pour accéder au site, vous devez disposer d'un équipement terminal connecté à internet.</li>
				<li>Vous supportez l'ensemble des couts de connexion à internet</li>
				<li>L'Exploitant pourra refuser l'accès au Site à toute personne ne respectant pas les présentes CGU</li>
			</ul>
		</li>

		<li>
			<h3>
				ARTICLE 3.INSCRIPTION
			</h3>
			<ul>
				<li>L'accès à certains Services requiert la création d'un compte personnel.</li>
				<li>
					L'inscription est gratuite.Elle s'effectue en remplissant le formulaire en ligne prévu à cet effet.Pour ce faire, vous devez fournir les informations suivantes:

					<br>Vous vous engagez à fournir de informations exactes et sincères vous concernant.
				</li>
				<li>
					Un courrier électronique de confirmation vous est ensuite envoyé à l'adresse indiquée, avec le recapitulatif des informations de connexion.

				</li>

				<li>
					L'identifiant de connexion est personnel et ne peut etre utilisé par plusieurs personnes, ni etre cédé, loué, ou transféré de quelque maniére que ce soit.
				</li>
				<li>
					Le mot de passe est confidentiel et ne doit pas etre communiqué à un tiers.Il peut etre modifié depuis votre espace personnel, vous devez mettre en oeuvre toutes les mesures nécessaires pour protéger votre mot de passe.
				</li>

				<li>
					Vous vous engagez également à informer l'Exploitant, par tout moyen et dans les plus brefs délais, en cas de constatation ou de suspicion de connexion frauduleuse ou non autorisée à votre compte.
				</li>

				<li>
					Vous pouvez à tout moment demander une désinscription et la suppression de votre compte, depuis votre espace personnel,  ou par abderrahmanesofia92@gmail.com
				</li>

				<li>
					L'Exploitant se réserve le droit de supprimer sans préavis votre compte en cas de violation des présentes CGU, et nottament:</li>
				<li>
					En cas d'utilisation contraire à la législation en vigueur;
					<br>
					En cas d'utilisation frauduleuse ou d'usurpation de l'identité d'un tiers;
					<br>
					En cas d'atteinte aux droits de l'Exploitant ou d'un tiers.
					<br>
					L'Exploitant pourra également supprimer votre compte en cas d'inactivité pendant plus d'un (1)an.
				</li>
			</ul>
		</li>
		<li>
			<h3>
				ARTICLE 4.Services
			</h3>
			<ul>
				<li>Les caractéristiques essentielles des services proposés sont présentées sur le site.
				</li>
				<li>Vous reconnaissez avoir pris connaissance de ces informations préalablement à toute commande.
				</li>
			</ul>
		</li>

		<li>
			<h3>
				ARTICLE 5.COMMANDES
			</h3>
			<ul>
				<li>
					Les commandes s'effectuent en ligne via le site.Pour passer commande, vous devez séléctionner les services souhaités, envoyer une demande de devis, indiquer votre adresse de facturation et votre moyen de paiment.
				</li>
			</ul>
		</li>

		<li>
			<h3>
				ARTICLE 6.CONDITIONS FINANCIERES</h3>
			<ul>
				<li>1.prix</li>
				<li>Les prix sont indiqués sur le Site en euros toutes taxes comprises.Ils tiennent compte de la TVA en vigueur au moment de la confirmation de la commande.
					<br></li>
				<li>2.Paiment</li>
				<li>Le règlement s'effectue comptant par virement ou chèque. Vous acceptez expressément que les factures vous soient adressées au format électronique.
					<br>
					Soft Etincelle se réserve également le droit de refuser toute demande dans l'hypothèse ou vous n'aurez pas réglé totalement ou partiellement une commande précedente ou dans le cas ou un litige serait en cours.</li>
			</ul>
		</li>

		<li>
			<h3>ARTICLE 7.PROPRIETE INTELLECTUELLE</h3>
			<ul>
				<li>
					L'ensemble du site, de sa structure et de son contenu(textes, tableaux, images , sons, bases de données, applications et logiciels), sont protégés par le droit d'auteur et de propriété intellectuelle de Soft Etincelle.
				</li>
			</ul>
		</li>

		<li>
			<h3>ARTICLE 8. DISPONIBILITE</h3>
			<ul>
				<li>
					Soft Etincelle s'efforce d'assurer un accès au Site 24 heures sur 24, 7 jours sur 7, sauf cas de force majeur ou évènement hors de son controle, sans garantir aucun résultat ou niveau minimal de qualité quant à sa disponibilité.<br>Soft Etincelle peut à tout moment et sans préavis suspendre ou limiter l'accès au site, afin de procéder à sa maintenance, mis à jour, modifier son contenu, ou tout autre action nécessaire à son bon fonctionnement.
				</li>
			</ul>
		</li>

		<li>
			<h3>ARTICLE 9.LIENS HYPERTEXTES</h3>
			<ul>
				<li>
					Le site peut contenir des liens hypertextes renvoyant vers d'autres sites internet ou sources externes.
				</li>
				<li>
					Le site n'assure aucune responsabilité quant aux informations, publicités, produits, services, ou tout autre contenu disponible sur ces sites ou sources externes.
				</li>
				<li>
					Soft Etincelle autorise la mise en place de liens hypertextes vers le Site, à condition que le site source ne présente aucun contenu à caractère illégal, violent ou pornographique, et à l'exclusion de toute utilisation de ces liens à des fins commerciales ou publicitaires.Soft Etincelle se réserve un droit d'opposition.
				</li>
			</ul>
		</li>

		<li>
			<h3>ARTICLE 10. DONNEES PERSONNELLES</h3>
			<ul>
				<li>Dans le carde de ses activités, Soft Etincelle s'engage à mettre en oeuvre un traitement des données personnelles des utilisateurs de ses services respectueux de leur vie privée et conforme à la législation française et européenne en vigueur.
				</li>
				<li>
					Vous reconnaissez en avoir pris connaissance préalablement à toute utilisation du site.
				</li>
			</ul>
		</li>

		<li>
			<h3>
				ARTICLE 11.FORCE MAJEURE
			</h3>
			<ul>
				<li>
					Soft Etincelle ne pourra etre tenu responsable d'un retard ou d'une manquement à ses obligations causé par un cas de force majeure, au sens habituellement retenu par les tribunaux français.
				</li>
			</ul>
		</li>

		<li>
			<h3>ARTICLE 12.MODIFICATIONS</h3>
			<ul>
				<li>
					Soft Etincelle se réserve le droit de modifier, à tout moment et sans préavis, les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités existantes.
				</li>
			</ul>
		</li>

		<li>
			<H3>ARTICLE 13.NULLITE PARTIELLE</H3>
			<ul>
				<li>
					Si une ou plusieurs stipulations des présentes CGU venait à etre déclarée nulle par application de la loi, d'un règlement ou d'une décision définitive d'une juridiction française, les autres stipulations garderont toute leur force et leur portée.
				</li>
			</ul>
		</li>

		<li>
			<h3>
				ARTICLE.14 Réclamation-Médiation
			</h3>
			<ul>
				<li>
					<h4>
						1.Réclamation
					</h4>
				</li>
				<li>
					pour toute réclamation, vous pouvez contacter Madame Benabderrahman aux cordonnées suivantes: abderrahmanesofia92@gmail.com
				</li>
			</ul>
		</li>

		<li>
			<h4>ARTICLE 21. LOI APPLICABLE - LITIGES</h4>
			<ul>
				<li>
					Le présent contrat est exclusivement soumis au droit français. En cas de litige les tribunaux français seront seuls compétents.
				</li>
			</ul>
		</li>
	</li>
	<li>
		<h4>ANNEXE&nbsp;: Modèle de formulaire de rétractation</h4>
		<ul>
			<p>(Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)</p>
			<p>A l'attention de la société , dont le siège social est situé, email&nbsp;:,</p>
			<p>Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*)/pour la prestation de services (*) ci-dessous&nbsp;:</p>
			<p>Commandé le (*)/reçu le (*)&nbsp;:</p>
			<p>Nom du (des) client(s)&nbsp;:</p>
			<p>Adresse du (des) client(s)&nbsp;:</p>
			<p>Signature du (des) client(s) (uniquement en cas de notification du présent formulaire sur papier)&nbsp;:</p>
			<p>Date&nbsp;:</p>
		</ul>
	</li>
	<p>(*) Rayez la mention inutile.</p>
</ul>{% endblock %}
