{% extends "base.html.twig" %}
{% block body %}

	<style>
		h1 {
			text-align: center;
			text-transform: uppercase;
			margin: 30px 0;
		}

		li {
			margin: 30px;
			list-style: none;
		}
	</style>

	<h1>
		Mentions légales</h1>
	<ul>

		<li>
			<strong>Éditeur:
			</strong>
			Soft Etincelle
		</li>

		<li>
			<strong>Adresse:</strong>
			22 rue de Ladoucette, Metz
		</li>

		<li>
			<strong>N° d’immatriculation:
			</strong>
			90376485000017
		</li>

		<li>
			<strong>Téléphone:
			</strong>+ 33 783794485
		</li>

		<li>
			<strong>Mail:
			</strong>
			abderrahmanesofia92@gmail.com
		</li>

		<li>
			Directrice de la publication
		</li>

		<li>
			Sofia Benabderrahman en sa qualité de Président de l'entreprise Soft Etincelle
		</li>

		<li>
			<h4>Hébergement</h4>
		</li>

		<li>
			<strong>Hébergeur:
			</strong>
			""""""""""""""""""""""""""
		</li>

		<li>
			<strong>Téléphone:
			</strong>
			+ """"""""""""""""""
		</li>

		<li>
			<strong>Mail:
			</strong>
			ab""""""""""""""""""""""""""""""""""""""""""""
		</li>

		<li>
			En tant qu’Utilisateur du site https://www.softetincelle.com/, vous trouverez ci-dessous, conformément au Règlement Général sur la Protection des Données (RGPD) adopté par le Parlement Européen le 14 avril 2016, les informations relatives aux données personnelles recueillies sur le site, aux traitements de ces données et à leurs finalités ainsi que vos droits et recours en la matière.
			<a href="{{ path('politique') }}">RGPD</a>
		</li>

	</ul>

{% endblock %}
