{% extends "base.html.twig" %}
{% block body %}

<style>
h2 {
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}


li {
    list-style: none;
    font-size: 1.5rem;
    margin: 10px 0;
}
</style>

	<h2>
		Politique de confidentialité :
	</h2>

	<ul>
		<li>
			<h3>1. Identité et coordonnées du responsable des traitements</h3>

			Soft Etincelle
		</li>

		<li>
			N° d’immatriculation : 90376485000017
		</li>

		<li>
			Pour toutes questions relatives à la protection de vos données personnelles, vous pouvez nous contacter en utilisant le formulaire de contact.
		</li>

		<li>
			<h3>2. Les données personnelles recueillies
			</h3>

			À l’occasion de votre utilisation du site, nous sommes amenés à recueillir :
		</li>

		<li>
			Lors de votre connexion : votre adresse IP ainsi que des données de navigation, ce sous réserve de votre accord et du paramétrage de votre terminal (voir la rubrique cookies) ;
		</li>

		<li>
			Si vous nous adressez un message via le formulaire de contact : vos nom (*) et prénom (*), le nom de votre société, votre adresse (rue, code postal, ville), votre numéro de téléphone (*), votre adresse courriel (*).
		</li>

		<li>Nota : Les données signalées par un astérisque nous sont indispensables pour répondre aux messages que vous nous adressez via le formulaire de contact.
		</li>

		<li>
			<h3>3. Finalité des traitements
			</h3>

			Les traitements mis en œuvre dans ce cadre sont destinés à nous permettre :
		</li>

		<li>
			De réaliser des statistiques relatives à l’utilisation du site et d’en améliorer le fonctionnement ;
		</li>

		<li>
			De procéder aux opérations de maintenance et de recherche d’erreurs ;
		</li>

		<li>
			De répondre aux messages que vous nous adressez via le formulaire de contact.
		</li>

		<li>
			<h3>4. Destinataires des données personnelles recueillies</h3>

			Les données personnelles recueillies seront accessibles :
		</li>

		<li>
			Aux personnels habilités de la société Soft Etincelle assurant la gestion du site
		</li>

		<li>
			Aux entreprises tierces assurant l’hébergement (société OVH) et la maintenance (société Horizon) du site.
			<ul>
				<li>
					Elles ne seront ni cédées ni échangées ni partagées avec autrui et ne seront pas transférées en dehors de l’Union Européenne sauf application de l’article 46.2.d du RGPD.<br>
				</li>
				<li>
					Elles pourront cependant être communiquées à des tiers en application de dispositions légales ou réglementaires, de décisions judiciaires ou si cela s’avérait nécessaire à la protection ou la défense de nos droits.
				</li>
				<li>
					Pour la réalisation de statistiques, votre adresse IP sera anonymisée via les outils d’analyse de Google (Google Analytics, Google Search Console).
					<br>
					Les logs de connexion ne sont jamais transmis.
				</li>
			</ul>
		</li>

		<li>
			<h3>
				5. Durée de conservation des données personnelles
			</h3>
			<br>
			Conformément à la réglementation applicable :
		</li>

		<li>
			Les logs de connexion seront conservés pour une durée maximale de treize (13) mois.
		</li>

		<li>
			Les données personnelles collectées et traitées dans le cadre des messages que vous nous adressez via le formulaire de contact seront conservées pendant une durée maximale de trois (3) ans à compter de votre dernier contact.
		</li>

		<li>
			<h3>
				6. Vos droits et recours
			</h3>
			<br>
			En application de la règlementation applicable, vous disposez des droits ci-dessous :
		</li>
	

	<li>
		Le droit d’accéder à vos données personnelles ;
	</li>

	<li>
		Le droit de rectifier et d’obtenir la modification des données qui seraient inexactes ou incomplètes ;
	</li>

	<li>
		Le droit de demander l’effacement de vos données personnelles, sauf si nous avons des raisons légales ou légitimes de les conserver ;
	</li>

	<li>
		Le droit de vous opposer à leur traitement et d’en obtenir la limitation, sauf si nous avons un intérêt légitime à le faire ;
	</li>

	<li>
		Le droit à la portabilité de vos données personnelles dans la mesure où cela est applicable ;
	</li>

	<li>
		Le droit d’organiser le sort de vos données personnelles après votre décès. Ces droits peuvent être exercés par courrier à notre adresse Soft Etincelle 22 rue de ladoucette Metz 57000 ou via le formulaire de contact.
	</li>

	<li>
		Toute demande devra préciser le droit que vous souhaitez exercer, être accompagnée de la photocopie de votre carte nationale d’identité (ou passeport) en cours de validité et mentionner les coordonnées (adresse, téléphone, mail) auxquelles nous pourrons vous contacter.
		<br>
		En cas de difficultés, vous pouvez saisir la Commission Nationale de l’Informatique et des Libertés (CNIL) - 3 Place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07, par courrier ou sur le site<link rel="stylesheet" href="www.cnil.fr/fr/plaintes">
	</li>
	<li>
		<h3>
			7. Mise à jour
		</h3>
		<br>
		Les dispositions ci-dessus seront actualisées chaque fois que nécessaire, notamment pour tenir compte des évolutions législatives et réglementaires.<br>Vous êtes donc invités à prendre régulièrement connaissance de la version en vigueur.</li>
</ul>{% endblock %}
