@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

li {
  list-style: none;
}

p,
li,
nav {
  font-size: 1.5rem;
}

#BoutonPourMonMenu {
  /* display: none; */
  border: none;
  background: none;
}

#BoutonPourMonMenu span {
  font-size: 3rem;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

nav .logo {
  font-family: "Alex Brush", "times new roman", serif;
  font-size: 3rem;
  padding-left: 2%;
}

nav {
  background: #00b4d8;
  padding: 10px;
}

/* FOOTER */
footer #nomSite {
  font-family: "Alex Brush", "times new roman", serif;
  text-transform: capitalize;
  font-size: 5rem;
}

footer h6 {
  font-size: 1.5em;
}

/* accueil */

h1,
h2,
h3,
h4 {
  text-align: center;
}

.experiences img {
  height: 200px;

  object-fit: cover;
}

.experiences {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 70vw;
  margin: auto;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  object-fit: cover;
  height: 90vh;
  width: 70vw;
}
.qualites {
  display: flex;
  justify-content: space-around;
}
.qualites img {
  background: grey;
  border-radius: 300px;
  padding: 20px;
}
.qualites span {
  font-size: 1.5rem;
  text-transform: uppercase;

  font-weight: 600;
}
h2 {
  margin: 5% auto 2%;
}

.qualites img:hover {
  background: #90e0ef;
}

.enSavoirPlus img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 200px;
}

.enSavoirPlus .caseInfo div {
  text-align: center;
}

.enSavoirPlus .caseInfo p {
  text-align: justify;
}

.enSavoirPlus .caseInfo {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  align-items: center;
  padding: 2%;
  margin: 5% auto;
  box-shadow: 4px 20px 20px 0 rgb(0 0 0 / 15%);
  justify-content: space-between;
  border-radius: 10px;
}

.enSavoirPlus {
  display: flex;
  flex-direction: row;
}

.enSavoirPlus .btn {
  font-size: 1.5rem;
}

@media screen and(max-width: 600px) {
  .enSavoirPlus {
    display: flex;
    flex-direction: column;
  }
  .enSavoirPlus .caseInfo {
    max-width: 750px;
  }
}
